/* Fonts */

@font-face {
    font-family: 'Be Vietnam Pro SemiBold';
    src: url('fonts/bevietnampro-semibold-webfont.woff2') format('woff2'),
         url('fonts/bevietnampro-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Be Vietnam Pro Regular';
    src: url('fonts/bevietnampro-regular-webfont.woff2') format('woff2'),
         url('fonts/bevietnampro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Animations */

@keyframes card-spawn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@keyframes icon-spawn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes text-spawn {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* Core Styles */

body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro Regular', serif;
    background: rgba(0, 0, 0, 0) radial-gradient(91.4% 65% at 50% 0%, rgb(67, 67, 67) 0%, rgb(60, 60, 60) 100%) repeat scroll 0% 0%;
}

div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    box-sizing: inherit;
}

div.card {
    display: block;
    background-color: white;
    width: 500px;
    height: auto;
    min-height: 200px;
    border-radius: 18px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    animation: card-spawn .5s;
}

div.card-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

@media (max-width: 520px) {
    div.card {
        width: 430px;
    }
}


/* Card Top Styles */

div.card-top {
    position: relative;
    overflow: hidden;
    width: 100%;
    flex: 0 0 auto;
    height: 324px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    aspect-ratio: 1.32716 / 1;
}

div.card-image-content {
    position: absolute;
    pointer-events: none;
    user-select: none;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    inset: 0px;
}

img.card-image {
    pointer-events: none;
    user-select: none;
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
}

@media (max-width: 430px) {
    div.container {
        padding: 0;
    }

    div.card {
        border-radius: 0;
    }

    /* div.card-top {
        width: 100%;
        height: 1px;
        inset: auto;
        flex: 1 0 0px;
        aspect-ratio: unset;
    } */
}

/* Card Bottom Styles */

div.card-bottom {
    position: relative;
    overflow: visible;
    width: 100%;
    height: min-content;
    flex: 0 0 auto;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: inherit;
}

div.card-bottom-content {
    padding: 30px;
    border-radius: inherit;
}

h1.card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 31px;
    font-weight: 800;
    line-height: 37.2px;
    letter-spacing: -1px;
    font-family: 'Be Vietnam Pro SemiBold', serif;
    animation: 1.5s text-spawn ease-out;
    text-align: center;
}

/* Card Tab Styles */

:root {
    /* colors */
    --accent: hsl(210, 100%, 40%);
    --accent-inactive: hsl(210, 85%, 40%);
    --secondary: var(--accent-inactive);

    /* attributes */
    --tab-count: 2;
    --indicator-width: 50px;
    --indicator-height: 4px;
}

div.card-tabs {
    min-width: calc(var(--tab-count) * 60px);
    animation: 2s text-spawn ease-out;
}

div.card-tabs p {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: normal;
    color: rgb(34, 34, 34);
}

div.card-tabs input[name="tab-control"] {
    display: none;
}

div.card-tabs div.card-tab-text section h2,
div.card-tabs ul li label {
    font-weight: bold;
    font-size: 18px;
    color: var(--accent);
}

div.card-tabs ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

div.card-tabs ul li {
    box-sizing: border-box;
    flex: 1;
    width: calc(100% / var(--tab-count));
    padding: 0 10px;
    text-align: center;
}

div.card-tabs ul li label {
    color: #b3bdc6;
    transition: all 0.3s ease-in-out;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    -webkit-touch-callout: none;
}

div.card-tabs ul li label:hover,
div.card-tabs ul li label:focus,
div.card-tabs ul li label:active {
    outline: 0;  
    color: hsl(from var(--secondary) h s calc(l + 15%));
}

div.card-tabs div.card-tab-slider {
    position: relative;
    width: calc(100% / var(--tab-count));
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}

div.card-tabs div.card-tab-slider div.card-tab-indicator {
    position: relative;
    width: var(--indicator-width);
    max-width: 100%;
    margin: 0 auto;
    height: var(--indicator-height);
    background: var(--accent);
    border-radius: 1px; 
}

div.card-tabs div.card-tab-text {
    margin-top: 20px;
}

@keyframes tab-content {
    from {
        opacity: 0;
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

div.card-tabs div.card-tab-text section {
    display: none;
    animation-name: tab-content;
    animation-direction: normal;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    line-height: 1.4;
}

div.card-tabs div.card-tab-text section h2 {
    color: var(--accent);
    display: none;
}

div.card-tabs div.card-tab-text section h2::after {
    content: "";
    position: relative;
    display: block;
    width: 30px;
    height: 3px;
    background: var(--accent);
    margin-top: 5px;
    left: 1px;
}

/* Slider Animation Styles */

input[name="tab-control"]:nth-of-type(1):checked ~ ul > li:nth-child(1) label {
    cursor: default;
    color: var(--accent);
}

input[name="tab-control"]:nth-of-type(2):checked ~ ul > li:nth-child(2) label {
    cursor: default;
    color: var(--accent);
}

input[name="tab-control"]:nth-of-type(1):checked ~ div.card-tab-slider {
    transform: translateX(calc(100% * (1 - 1)));
}

input[name="tab-control"]:nth-of-type(2):checked ~ div.card-tab-slider {
    transform: translateX(calc(100% * (2 - 1)));
}

input[name="tab-control"]:nth-of-type(1):checked ~ div.card-tab-text > section:nth-child(1) {
    display: block;
}

input[name="tab-control"]:nth-of-type(2):checked ~ div.card-tab-text > section:nth-child(2) {
    display: block;
}

/* Card Icon Styles */

div.card-icons {
    display: block;
    width: 100%;
}

div.card-icon-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-link {
    opacity: 0;
}

.show {
    opacity: 1;
    animation: icon-spawn .5s;
}

.icon:hover {
    color: black;
    text-decoration: none;
    transform: scale(1.25);
}

.icon-link .icon-svg {
    width: 3.5rem;
    height: 3.5rem;
}

.icon-link .icon-svg--github {
    color: #000;
}

.icon-link .icon-svg--linkedin {
    color: #2d76b0;
}

.icon-link .icon-svg--email {
    color: #0066ff;
}

.icon-link .icon-svg .icon-group__icon {
    fill: #191308;
    transition: all .2s;
}

.icon-link .icon-svg .icon-group__inner-circle {
    fill: transparent;
    transition: all .2s;
}

.icon-link .icon-svg .icon-group__outline {
    stroke: #191308;
    transform-origin: 50% 50%;
    transition: all .2s;
}

.icon-link .icon-svg:hover .icon-group__icon,
.icon-link .icon-svg:active .icon-group__icon,
.icon-link .icon-svg:focus .icon-group__icon {
    fill: #FFFBFA;
    transition: all .45s;
}

.icon-link .icon-svg:hover .icon-group__inner-circle,
.icon-link .icon-svg:active .icon-group__inner-circle,
.icon-link .icon-svg:focus .icon-group__inner-circle {
    fill: currentColor;
    transition: all .45s;
}

.icon-link .icon-svg:hover .icon-group__outline,
.icon-link .icon-svg:active .icon-group__outline,
.icon-link .icon-svg:focus .icon-group__outline {
    stroke: currentColor;
    transform: scale(1.1);
    transition: all .45s;
}