body {
    height: 100%;
    background-color: #e9ecef;
}

img.img-bg {
    /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.img-bg {
        left:50%;
        margin-left: -512px;   /* 50% */
    }
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.5);
}

.icon {
    font-size: 30px;
    color: darkgray;
}

.icon .fa-linkedin {
    font-size: 35px;
}

.icon:hover {
    color: black;
    text-decoration: none;
}

.landing {
    min-width: 360px;
}

@media screen and (min-width: 768px) {
    .landing {
        max-width: 360px;
        margin: auto;
    }
}

.nav-pills .nav-link {
    color: #212529;
    background-color: #f8f9fa;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    color: #212529;
    background-color: #dae0e5;
}